/***** jtDialogBox - BEGIN REQUIRED *********************************/
DIV.jtDialogBox {
  position: absolute;
  display: none;
  }
DIV.jtDialogBox .tbLeft {
  background: url(../images/p_img4.gif);
  }
DIV.jtDialogBox .tbRight {
  background: url(../images/p_img6.gif);
  }
DIV.jtDialogBox .Title {
  background: url(../images/p_img5.gif) top;
  font-size: 11px;
  color: #4b390c;
  font-weight: bold;
  padding-top:3px;
  white-space: nowrap;
  cursor:move;
  }

.jtDialogBoxVeil {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  cursor: not-allowed;
  background-color: #000000;
  filter:alpha(opacity=20);
  -moz-opacity:0.20;
  opacity: 0.20;

  }
/***** jtDialogBox - END REQUIRED *********************************/


/***** jtDialogBox - BEGIN SUGGESTED *********************************/
DIV.jtDialogBox {
  border-top   : 1px solid #EDEDED;
  border-right : 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
  border-left  : 1px solid #EDEDED;
  }
DIV.jtDialogBox .MainPanel {
  background-color: #ffffff;
  border-top   : 1px solid #898989;
  border-right : 1px solid #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  border-left  : 1px solid #898989;
  }
DIV.jtDialogBox .MainPanel .ContentArea {
  margin: 16px;
  font-size: 9pt;
  }
/***** jtDialogBox - END SUGGESTED *********************************/
