@import url(buttons.css);
@import url(datetimePicker.css);

html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	color: #333333;
	background: #C9C9C9 url('../images/bg_right_top.gif') repeat-x top left;
}

iframe {
	border:none;
}

.noSrcollBar
{
	/*overflow: hidden;*/
}

#frameContent 
{
    margin: 0px;
    padding: 0px;
    border: solid 0px black;
}

a 
{
    color: #555555;
}

a:hover
{
    color: #777777;
}

input, textarea, select {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

.floatLeft
{
    float: left;
}

.logintable
{
    text-align: justify;
    margin-top: 20em;
    color: white;
    margin-left: auto; 
    margin-right: auto;
    width: 35em;
}

.logintable tr
{
    vertical-align: bottom;
}

.pusher
{
    display: block;
    height: 0px;
    /*background: yellow;*/
}
 
* html .pusher
{
    /*height:120px;
    display: none;*/
    height:0px;
}

.maxheight
{
    /*min-height: 100%;
    max-height: 100%;
    height:100%;
    */
    width: 100%;
}

* html .maxheight
{
    /*height:100%;*/
}

form {
	height:100%;
}

.bgright
{
    background: #C9C9C9 url('../images/bg_right_top.gif') repeat-x top left;
    padding:  5px 0px;
}

.rightcontent
{
    background:white;
    padding:  5px 5px 5px 5px;
    margin: 0px 5px;
}

.rightcontentpanel
{
    /*min-height: 95%;*/
    background:white;
    padding:  5px 5px 5px 5px;
    margin: 0px 5px;
    /*height: 100%;*/
}

* html .rightcontent
{
    /*height: 100%;*/
}

/* list table start */
.list 
{
    width: 100%;
	border: none;
	border-collapse: collapse;
}

.rightcontent th
{
    padding: 2px 2px;
}

.rightcontent td
{
    padding: 6px 2px;
}

.datahead
{
    background-color: #FFD539;
}

.datarow
{
    background-color: #FFFCE7;
}
/* list table end */

.dotline
{
    text-align: center;
    display:block;
    width: 100%;
    height: 10px;
    padding: 5px 0px;
    background: url('../images/bg_dot.gif') repeat-x center;
}

.UserCheckList
{
    float:left;
    margin-right: 10px;
}

.top_date{
	font-size: 11px;
	color: #c8c6c2;
}

.site{
	font-size: 11px;
}

.tab{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;

}

.tab a{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;

}

.tab a:hover{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;

}

.tab_HL{
	font-size: 12px;
	font-weight: bold;
	color: #8f6211;


}

.lang{
	font-size: 10px;
	font-weight: bold;
	color: #cbcac7;
	text-decoration: none;
}

.lang a{
	font-size: 10px;
	font-weight: bold;
	color: #cbcac7;
	text-decoration: none;
}

.lang a:hover{
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

.lang_HL{
	font-size: 10px;
	font-weight: bold;
	color: #7e7971;
}

.title1{
	font-size: 11px;
	color: #666666;
	padding-left: 15px;

}

.content{
	font-size: 12px;
	color: #333333;
	background-color: #f6f1d5;
	padding-left: 15px;

}

.content_active{
	font-size: 12px;
	color: #333333;
	background-color: #FDF9CE;
	padding-left: 15px;
	border: 1px solid #F2C435;
}

.btn1{
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.btn1 a{
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.btn1 a:hover{
	font-size: 11px;
	color: #8b6816;
	font-weight: bold;
	text-decoration: underline;
}

.btn2{
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.btn2 a{
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.btn2 a:hover{
	font-size: 11px;
	color: #7a0e02;
	font-weight: bold;
	text-decoration: underline;
}

.clsSplitter
{
	position: relative;
	overflow: hidden;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FF0000;
	border: none;
}

.clsPane
{
	position: absolute;
	overflow: auto;
	visibility: visible;
	margin: 0;
	padding: 0;
	background: #eeeeee;
	border: none;
}

.clsDragBar
{
	position: absolute;
	overflow: hidden;
	visibility: visible;
	margin: 0;
	padding: 0;
	background: #eeeeee;
	border: none;
}

.tabbtn
{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	background: #EEEEEE url('../images/tab_b2.gif');
}

.tabbtn .btnimg1
{
	background: #EEEEEE url('../images/tab_a2.gif');
	border: solid 0px;
	width: 10px;
	height: 28px;
}

.tabbtn .btnimg2
{
	background: #EEEEEE url('../images/tab_c2.gif');
	border: solid 0px;
	width: 10px;
	height: 28px;
}

.tabbtn:hover, .tabbtn_H
{
	font-size: 12px;
	font-weight: bold;
	color: #8f6211;
	text-decoration: underline;
	background: #EEEEEE url('../images/tab_b.gif');
}

.tabbtn:hover .btnimg1, .tabbtn_H .btnimg1
{
	background: #EEEEEE url('../images/tab_a.gif');
	border: solid 0px;
	width: 10px;
	height: 28px;
}

.tabbtn:hover .btnimg2, .tabbtn_H .btnimg2
{
	background: #EEEEEE url('../images/tab_c.gif');
	border: solid 0px;
	width: 10px;
	height: 28px;
}


.imgbtn
{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	background: url('../images/btn1b.gif') repeat-x top left;
	height:20px;
}

.imgbtn .btnimg1
{
	background: url('../images/btn1a.gif') no-repeat top left;
	border: solid 0px;
	width: 24px;
	height:20px;
}

.imgbtn .btnimg2
{
	background: url('../images/btn1c.gif') no-repeat top left;
	border: solid 0px;
	width: 4px;
	height:20px;
}

.imgbtn:hover
{
	color: #8f6211;
	text-decoration: underline;
	background: url('../images/btn1b_o.gif');
}

.imgbtn:hover .btnimg1
{
	background: url('../images/btn1a_o.gif') no-repeat;
}

.imgbtn:hover .btnimg2
{
	background: url('../images/btn1c_o.gif') no-repeat;
}

table.records
{
    padding:5px;
    margin: 0px;
    width:100%;
}

table.records td
{
    padding:0px;
    margin: 0px;
}

table.recorddetail
{
    width:100%;
    padding:5px;
}

table.recorddetail tr
{
    vertical-align: top;
    height: 20px;
}

table.recorddetail td
{
    padding: 0px;
    margin: 0px;
    /*white-space: nowrap;*/
}

/*
table.recorddetail td span
{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px 5px 0px 5px;
}
*/

table.recorddetail td span
{
    padding: 0px 1px 0px 1px;
}

table.recorddetail input.textbox
{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    background: #FDF9CE;
    border: solid 1px #F2C435;
    width: 98.5%;
    height: 100%;
}

table.recorddetail input.textbox2
{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    background: #FDF9CE;
    border: solid 1px #F2C435;
    width: auto;
    height: 100%;
}

table.recorddetail input.file
{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    background: #FDF9CE;
    border: solid 1px #F2C435;
    width: 98.7%;
    height: 100%;
}

table.recorddetail textarea
{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    background: #FDF9CE;
    border: solid 1px #F2C435;
    width: 98.7%;
    height: 150px;
    overflow: auto;
}

table.recorddetail select
{
    width: 100%;
}

table.recorddetail select.selectbox2
{
    width: auto;
}

table.recorddetail select.mceSelectList
{
    width: auto;
}

td.editor select
{
    width: auto;
}

.viewLabels
{
    background: #F6F1D5;
}

.umContent
{
	background: #F6F1D5;
	width: 300px;
}

.ViewList
{
    float: left;
    width: 49%;
    padding: 0px 5px 0px 0px;
}

.checkBoxList
{
    padding: 0px;
    overflow: auto;
    height: 200px;
    width: 300px;
    background: #FDF9CE;
    border: solid 1px #F2C435;
    white-space: nowrap;
    display: block;
}

table.records .checkBoxList
{
    width: 99%;
}

table.recorddetail .checkBoxList
{
    padding: 0px;
    overflow: auto;
    height: 200px;
    width: 100%;
    background: #FDF9CE;
    border: solid 1px #F2C435;
    white-space: nowrap;
    display: block;
}

.checkBoxListSimple
{
    padding: 5px 5px 5px 15px;
    display: block;
}

.checkBoxListOM
{
    margin-left: 30px;
}

.checkBoxListOM td
{
    padding: 0px;
}

.paddingLR5 *
{
    padding: 0px 5px 0px 5px;
}

.paddingLR3 *
{
    padding: 0px 3px 0px 3px;
}

.rightcontent h1
{
    font-size: 14px;
    padding: 0px 10px 0px 0px;
    margin: 3px 2px;
}

.htmlEditor
{
    border: solid 1px gray;
    overflow: auto;
    width: 100%;
    height: 600px;
}

.mceEditor
{
    border: solid 1px gray;
    overflow: auto;
    width: 100%;
    height: 600px;
}

.mandatory
{
	color: Red;
}

.wrapfield
{
	word-wrap:break-word;
	word-break:break-all;
	white-space:normal;
}

.success
{
	color: Blue;
}

.fail
{
	color: Red;
}

.fileupload_delete input, .fileupload_delete label
{
	vertical-align:top;
}