@CHARSET "UTF-8";

/* Header */
#header h1{
	background:url("../../images/logo.png") no-repeat scroll 0 0 transparent;
	height:41px;
}

/* Header Menu */

body[data-color="grey"] #user-nav>ul {
    border-left: 0px;
}

body[data-color="grey"] #user-nav>ul>li {
    border-right: 0px;
}

#progressBar {
	display:none;
}