/*********************/
/*** Alert message ***/
/*********************/
#alertMsgBox {
    position: absolute;
    top: 50%;
    left: 50%;
    /* padding-top:50%;
    padding-left:50%; */
    overflow: hidden;
    margin-left: -200px;
    width: 400px;
    z-index: 2001; /* dialog: 1001 */
}

.alertContent {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dadada');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada' )";
    opacity: 1;
}

.alertContent > div {
    padding-top: 1px;
    margin: 6px 12px;
    overflow: hidden;
}

.alertContent h1 {
    padding: 5px 0 5px 30px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #bebebe;
}

.alertInner {
    margin-bottom: 5px;
    max-height: 80px;
    /*overflow-y: scroll; /* Enable scroll */
}

.alertInner .msg {
    padding-bottom: 5px;
    color: #808080;
    font-weight: bold;
    font-size: 16px;
}

.progressBar {
    border: solid 1px #eeeeee;
    background: #FFF
}

.progressBar {
    display: block;
    width: 185px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -14px;
    padding: 10px 10px 10px 15px;
    text-align: left;
    line-height: 27px;
    font-weight: bold;
    position: absolute;
    z-index: 2001;
}

#progressBar img {
    float: left;
}

#progressBar span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    height: 25px;
    font-size: 18px;
}

.alertBackground {
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
}

#footer {
    clear: both;
    float: left;
    width: 100%;
    display: block;
    position: relative;
    color: #a4a4a4;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    bottom: 0px;
    background-color: #3c3c3c;
}

/* #footer p.mid {
	text-align:center;
	margin-top:5px;
	margin-bottom: 5px;
	margin: 0 0px 0 75px;
	background-color: #efefef;
} */
.bmf-content {
    overflow: auto;
    z-index: 30;
}

.bmf-content-header {
    margin-top: 0px !important;
}

.bmf-role-box {
    margin-top: 10px;
}

.bmf-role-button {
    text-align: right;
}

.error {
    color: #B94A48;
}

.combox {

}

.select2-search {
    display: none !important;
}

.search-label {
    font-weight: bold;
    color: #555555;
    text-shadow: 0 1px 0 #fff;
    padding-top: 7px;
    position: relative;
    min-height: 1px;
    float: left;
}

.table {
    /* margin-top: 16px; */
}

.widget-box {
    /* margin-bottom: 0px; */
}

body[data-color="grey"].flat #sidebar > ul > li.active {
    background-color: #009a4d;
}

body[data-color="grey"] #sidebar > ul > li.open.submenu > li.active.submenu {
/*     background-color: #434343; */
    background-color: #43438D;
}


